<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * ============================================================
  ~  *
  ~  *   ████████╗██╗███╗   ██╗███████╗██╗   ██╗██████╗
  ~  *   ╚══██╔══╝██║████╗  ██║██╔════╝██║   ██║██╔══██╗
  ~  *      ██║   ██║██╔██╗ ██║███████╗██║   ██║██████╔╝
  ~  *      ██║   ██║██║╚██╗██║╚════██║██║   ██║██╔══██╗
  ~  *      ██║   ██║██║ ╚████║███████║╚██████╔╝██║  ██║
  ~  *      ╚═╝   ╚═╝╚═╝  ╚═══╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝
  ~  *
  ~  *  项目名称 : 智慧社区养老系统
  ~  *  源码作者 : Tinsur (tinsur.cn)
  ~  *  作者主页 : https://www.tinsur.cn
  ~  *  联系方式 : me@tinsur.cn
  ~  *  开源协议 : GPL 3.0
  ~  *
  ~  * ============================================================
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tinsur.elder.mapper.BedMapper">

</mapper>
